
body{
background: url(../img/bg-img.jpg);    
}
#menu{
    height: 142px;
    
}

#nav-principal li a{
   
    color: black;
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Long Island;


}


#texto{
    
    color: white;
    margin-top: 100px;
}

#img1{
    margin-top: -150px;
   
    
}


#descricao h3{
color: white;

}

#txt{
    font-weight: bold;
}


#descricao{
    border-top: 5px solid #00BFFF;
    font-family: calibri;
}


#box1, #box2, #box3, #box4
{
	width: 300px;
	height: 320px;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.3);
	display: flex;
	justify-content: center;
	align-items:  center;
	flex-direction: column;

}

.titulo{
    
    text-transform: uppercase;
    color: wheat;
}

#box1, #box2, #box3, #box4 p{
    font-weight: italic;
    
}

#conteudo-box 
{
	display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}

footer{
 
   
    list-style: none;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-family: Long Island;
    background: whitesmoke ;
   
    
    
    

}

footer p a{
    margin: 5px 15px; 
    margin-top: 20px;
}










