header{
    background: #c5b3e6 repeat-x;
    background-attachment: fixed;
}

#nav-principal li a{
    text-transform: uppercase;
    
}

#cartao{
  border: 5px double black;
  margin-top: 50px;
  
}



.caixa{
 
 
    margin-top: 100px;

}

.pedacinho{
   margin-top: 30px;
    background: 	#8B008B;
   border-top:5px solid #E0FFFF ; 
   border-bottom: 5px solid #E0FFFF;
    
   
}

#rodape{
  padding-top: 50px;
    border-top: 2px solid #B0E0E6;
    
    
}

